:root {
    /* governs how every icon will scale -> must be multiples of 24 */
    --control-size: 48px;
}

body {
    background-color: #050505;
    color: lightgray;
    font-family: Verdana;
    margin: 0 !important;
    padding: 0 !important;
}

div.box {
    background-color: #0E0E0E;
    border-radius: 10px;
    padding: 32px;
    /* width: 1024px; */
}