<script src="equipment-picker.js"></script>

<template id="equipment-picker">
    <div class="modal micromodal-slide" id="equipment-picker-modal">
        <div class="modal__overlay" tabindex="-1" data-micromodal-close>
            <div class="modal__container" role="dialog">
                <header class="modal__header">
                    <h2 class="modal__title" id="equipment-picker-title">
                        Micromodal
                    </h2>
                    <button class="modal__close" data-micromodal-close></button>
                </header>
                <main class="modal__content" id="equipment-picker-content">
                    <p>
                        Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal.
                    </p>
                    <p>
                        Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal.
                    </p>
                    <p>
                        Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal.
                    </p>
                    <p>
                        Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal.
                    </p>
                    <p>
                        Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal.
                    </p>
                    <p>
                        Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal.
                    </p>
                    <p>
                        Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal.
                    </p>
                    <p>
                        Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal.
                    </p>
                    <p>
                        Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal.
                    </p>
                    <p>
                        Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal.
                    </p>
                    <p>
                        Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal.
                    </p>
                    <p>
                        Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal.
                    </p>
                    <p>
                        Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal.
                    </p>
                    <p>
                        Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal.
                    </p>
                    <p>
                        Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal.
                    </p>
                    <p>
                        Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal. Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself.
                        Also, <code>esc</code> to close modal.
                    </p>
                </main>
                <footer class="modal__footer">
                    <button class="modal__btn modal__btn-primary">Continue</button>
                    <button class="modal__btn" data-micromodal-close>Close</button>
                </footer>
            </div>
        </div>
    </div>
</template>