<script src="equip-display.js"></script>
<link rel="stylesheet" href="equip-display.css">

<template id="equip-display">
    <div class="flex-columns equip-display">
        <label class="name" style="width: 160px; line-height: 32px; text-align: center;">Helm</label>
        <label class="refinement" style="width: 32px; line-height: 32px; text-align: center;">+12</label>
        <div class="equip-icon" data-id="2229"></div>
        <div class="slot slot1" src="res/images/card.png"></div>
        <div class="slot slot2" src="res/images/card.png"></div>
        <div class="slot slot3" src="res/images/card.png"></div>
        <div class="slot slot4" src="res/images/card.png"></div>
    </div>
</template>