<script src="equip-display.js"></script>
<link rel="stylesheet" href="equip-display.css">

<template id="equip-display">
    <div class="flex-columns equip-display">
        <label class="name"></label>
        <label class="refinement"></label>
        <div class="equip-icon"></div>
        <div class="slot slot1" src="res/images/card.png"></div>
        <div class="slot slot2" src="res/images/card.png"></div>
        <div class="slot slot3" src="res/images/card.png"></div>
        <div class="slot slot4" src="res/images/card.png"></div>
    </div>
</template>