equip-display {

    div.equip-display {

        label.name {
            line-height: var(--control-size);
            text-align: center;
            width: calc(var(--control-size) * 5);
            &:hover {
                cursor: pointer;
                border-radius: 10px;
                background-color: #1E1E1E;
            }
        }

        label.refinement {
            line-height: var(--control-size);
            width: var(--control-size);
            text-align: center;
            &:hover {
                cursor: pointer;
                border-radius: 10px;
                background-color: #1E1E1E;
            }
        }

        div.slot {
            width: var(--control-size);
            height: var(--control-size);
            
            image-rendering: pixelated;
            background-size: var(--control-size);
            &:hover {
                cursor: pointer;
                border-radius: 10px;
                background-color: #1E1E1E;
            }

            &[data-id=""] { background-image: url("../../../res/images/no-slot.png"); }
            &[data-id="0"] { background-image: url("../../../res/images/empty-slot.png"); }
            &:not([data-id=""]):not([data-id="0"]) { background-image: url("../../../res/images/card.png"); }

        }

    }

    &[data-side="left"] label.name { order: 7; }
    &[data-side="left"] label.refinement { order: 6; }
    &[data-side="left"] div.equip-icon { order: 5; }
    &[data-side="left"] div.slot1 { order: 4; }
    &[data-side="left"] div.slot2 { order: 3; }
    &[data-side="left"] div.slot3 { order: 2; }
    &[data-side="left"] div.slot4 { order: 1; }

    &[data-side="right"] label.name { order: 1; }
    &[data-side="right"] label.refinement { order: 2; }
    &[data-side="right"] div.equip-icon { order: 3; }
    &[data-side="right"] div.slot1 { order: 4; }
    &[data-side="right"] div.slot2 { order: 5; }
    &[data-side="right"] div.slot3 { order: 6; }
    &[data-side="right"] div.slot4 { order: 7; }

}