<script src="gender-display.js"></script>
<link rel="stylesheet" href="gender-display.css">

<template id="gender-display">
    <div class="flex-columns">            
        <input type="radio" name="gender" id="m" value="m" style="display: none;">
        <label for="m">
            <img src="res/images/male.svg" alt="male">
        </label>
        <input type="radio" name="gender" id="f" value="f" style="display: none;">            
        <label for="f">
            <img src="res/images/female.svg" alt="female">
        </label>
    </div>
</template>