label {
    font-family: "Candara";
    font-size: 14px;
    font-weight: bold;
}

select:not(#lang), input:not([type="checkbox"]) {
    background-color: black;
    color: lightgray;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid darkgray;
    padding: 8px;
    font-weight: bold;
}

::-webkit-scrollbar {    
    background-color: transparent;
    height: 4px;
    width: 4px;
}

::-webkit-scrollbar-track {
    background-color: transparent;    
}

::-webkit-scrollbar-thumb {
    background-color: #434343;
    border-radius: 10px;
}