<script src="equipment-display.js"></script>
<link rel="stylesheet" href="equipment-display.css">

<template id="equipment-display">
    <div class="flex-columns equipment-display">
        <label class="name"></label>
        <label class="refinement"></label>
        <div class="equip-icon"></div>
        <div class="slot slot1" data-id=""></div>
        <div class="slot slot2" data-id=""></div>
        <div class="slot slot3" data-id=""></div>
        <div class="slot slot4" data-id=""></div>
    </div>
</template>